<h3>{{ pageHeading }}</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Address</th>
            <th>City</th>
            <th>Total Orders</th>
            <th></th>
        </tr>
    </thead>
    <tbody><tr ng-repeat="customer in Customers">
            <td><a href="customers/details/{{ customer.Id }}">{{ customer.FirstName }} {{ customer.LastName }}</a></td>
            <td>{{ customer.Address }}</td>
            <td>{{ customer.City }}</td>
            <td><a ng-click="showCustomerOrders(customer)">{{ customer.Orders.length }} order(s)</a></td>
            <td><a ng-click="removeCustomer(customer)">Remove</a></td>
        </tr>
    </tbody>
</table>

<form name="addCustomer" role="form" ng-submit="addNewCustomer()">
    <table class="table">
        <tbody>
            <tr>
                <td><input type="text" class="form-control" id="customerFirstName" name="customerFirstName" placeholder="First Name" ng-model="Customer.firstName"></td>
                <td><input type="text" class="form-control" id="customerLastName" name="customerLastName" placeholder="Last Name" ng-model="Customer.lastName"></td>
                <td><input type="text" class="form-control" id="customerAddress" name="customerAddress" placeholder="Address" ng-model="Customer.address"></td>
                <td><input type="text" class="form-control" id="customerCity" name="customerCity" placeholder="City" ng-model="Customer.city"></td>
                <td><button type="submit" class="btn btn-primary bnt-sm" ng-disabled="!addCustomer.customerFirstName.$dirty && !addCustomer.customerLastName.$dirty && !addCustomer.customerAddress.$dirty && !addCustomer.customerCity.$dirty">Add</button></td>
            </tr>
        </tbody>
    </table>
</form>
