@model QvidJSDemo.Models.HomeIndexViewModel
@using System.Web.Script.Serialization;
@{
    ViewBag.Title = "Customers";
}
@{ string data = new JavaScriptSerializer().Serialize(Model); }

@section scripts {
    <script src="~/app/Customers/customersApp.js"></script>
    <script src="~/app/Common/custom.js"></script>
    <script src="~/app/Customers/customersRootViewModel.js"></script>
    <script src="~/app/Customers/customersListViewModel.js"></script>
    <script src="~/app/Customers/customersDetailsViewModel.js"></script>
    <script src="~/app/Customers/customersOrdersViewModel.js"></script>
}

@section jsCode {
    @*angular.bootstrap(document.getElementById('customers'), ['customers']);*@
}
<div ng-app="mainApp">
    <div ng-controller="customersRootViewModel" ng-init="init(@data)">
        <ng-view></ng-view>
    </div>
</div>

